


@tailwind base;
@tailwind components;

@font-face {
  font-family: Source Sans Pro;
  font-weight: 400;
  src: url(/fonts/source-sans-pro/SourceSansPro-Regular.otf) format("otf");
}


@tailwind utilities;

/* bug reporting widget see https://docs.sentry.io/platforms/javascript/user-feedback/configuration/ */
#sentry-feedback {
  --bottom: 2.8rem !important; 
  --right: .3rem !important;
}


