@import "tailwindcss";

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taprom&family=Waiting+for+the+Sunrise&display=swap');

@layer base {
  @font-face {
    font-family: 'ReklameScript-Regular';
    src: url('/fonts/ReklameScript-Regular.woff');
  }
}

/* bug reporting widget see https://docs.sentry.io/platforms/javascript/user-feedback/configuration/ */
#sentry-feedback {
  --bottom: .6rem !important;
  --right: .2rem !important;
  @media (max-width: 1024px) {
    --bottom: .2rem !important;
    --right: .2rem !important;
  }
  bottom: var(--bottom);
}


